<center>
<h1>Clasy Ladies, Thrashy Books</h1>
</center>

<ul>
  <% @novels.each do |novel| %>
    <li><%= link_to novel.title, novel_path(novel) %></li>
  <% end %>
</ul>

<%= link_to "New Novel", new_novel_path %>
