@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron h1 {
  color:slate;
  font-size: 6em;
}

.main-jumbotron {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("background_image.jpg");
  text-align: center;
  background-size: cover;
  background-position: center center;
  margin:-20px;
  padding: 0px;
  height: 445px;
}

.navbar {
   border: none;
   background-color:#E0E0E0;
}

.navbar-link {
  color: black !important;
  font-size: 1.0em;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFE4E1;
}

.novel-display {
  font-size: 1.8em;
}

a {
   color: black; }

li {
  list-style-type: none;
}

.novel-header {
  margin-top:4rem;
  font-size: 3em;
  color:black;
  font-weight: 400;
  text-align:center;
}

.novel-author {
  font-size: 1.3em;
  text-align:center;
}

.novel-details{
  font-size: 1.2em;
  font-weight:300;
  max-width:85%;
  margin-left:6%;
}
